.container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  height: calc(100vh - 120px); 
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 80px; 
  flex: 1;
  min-height: 0; 
}